/*

Vert: #7ed56f
Vert medium: #55c57a
Dark vert: #28b485

*/

/* Copyright @TIJANI ABDELLATIF 
Front web developer 

*/ 

/* normaliser le css */

*
{
  font-weight: 400;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;  
}

body {
    /*margin: top right bottum left*/
     margin: 20px 20px 0px 20px; 

}

/* le corps de la page */
.header 
{
background-image:linear-gradient(to right bottom, rgba(0, 255,110, 0.651), rgba(98,196,53,0.384)), url('../img/hero.jpg');
width: auto;
height:600px;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);;
background-size: cover;
}

.logo
{
    padding: 20px;
    
  

}

.logowhite
{
    position:relative;
    animation-name:moveInBottom;
    animation-duration: 3s;
    width: 80px;

}

.main
{ 
text-align: center;
padding: 8%;
color: white;
}
.heading1{
    
   margin-bottom: 90px;
    font-weight: 400;
    display: grid;
}
.heading11
{
    position:relative;
    animation-name: moveInLeft;
    animation-duration: 3s;
    letter-spacing: 45px;
    display: block;
    font-size: 60px;
    padding-bottom: 20px;
}

.heading12
{
    position:relative;
    animation-name: moveInRight;
    animation-duration: 3s;
    letter-spacing: 18px;
    font-size: 18px;
    padding-left: -10px;
    
    

}

/* Animation */ 

@keyframes moveInLeft
{
    0%
    {
        transform: translateX(-200px);
       opacity: 0;
       
    }

   /* 60%
    {
       transform: rotate(30deg) ;
    }
    */

    80%
    {
       opacity: 0.8;

    }

    100%
    {
      opacity: 1;
    }
}

@keyframes moveInRight
{
    0%
    {
      transform: translateX(200px);
      opacity: 0;
       
    }

   /* 60%
    {
       transform: rotate(-30deg) ;
    }
    */

    80%
    {
       opacity: 0.8
    }

    100%
    {
       opacity: 1;

    }
}



@keyframes moveInBottom
{
    0%
    {
    top: -300px;
       
    }

    80%
    {
    top: 0px;
    }

    100%
    {
    top: 0px;

    }
}

/* bouton */
.btn:link,.btn:visited {
    animation: moveInLeft 2s ease-out;
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 40%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    font-size: 12px;
    font-family: 'lato', sans-serif;


}
.btn:hover {
    /*transform: translateY(-7px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
}
.btn:active {
    transform: translateY(-px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.btn-white {
    background-color: #fff;
    color: gray;
    text-decoration: none;
    border-radius: 30px;
    padding: 20px;
}
/* animer le boutton behind the scene  */
.btn::after
/* l'element fils apres le bouton */
{
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}
.btn-white::after{}
/* l'element fils apres le bouton */
/*     mettez l'element en rouge pour voir la difference*/
{
    background-color: #fff;
    border-radius: 50px;
    transition: 0.5s;
}
.btn:hover::after {
    transform: scale(2, 2);
    background-color: #fff;
    opacity: 0;
    transition: .5s;
}
.btn-animated {
    animation: moveInRight .5s ease-out .75s;
    animation-fill-mode: backwards
}